* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

.topo {
    height: 38px;
    display: flex;
    width: 1050px;
    margin: auto;
}





.Pesquisa_container {
    border-top: 1px solid rgba(0, 0, 0, 0.074);
    
}





.pesquisa {
    display: flex;
    margin: auto;
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
}


.pesquisa > img {
    height: 40px;
    margin-top: 17px;
}

.pesquisa_input {
    display: flex;
    height: 36px;
    margin-left: 35px;
    margin-top: 23px;
}

.pesquisa_input input {
    border: 2px solid #ff4747;
    width: 42vw;
    min-width: 500px;
    outline: #ff4747;
    border-radius: 4px 0px 0px 4px;
    padding: 4px;
    padding-left: 15px;
}

.pesquisa_input input::placeholder {
    color: rgba(152, 152, 152, 0.767);
}



.input_img {
    height: 36px;
    border: 2px solid #ff4747;
    border-radius: 0px 4px 4px 0px;
    text-align: center;
    background-color: #ff4747;
}

.input_img img {
    height: 90%;
    margin-top: 5%;
}



.carrinho {
    height: 40px;
    margin-top: -5px;
    margin-left: 30px
}

.carrinho img {
    height: 100%;
}




.lista_container {
    margin-left: 35px;
    padding-bottom: 15px;
}

.lista_container a {
    text-decoration: none;
    color: #333333d7;
    font-size: 11.8px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
    border-right: 1px solid rgba(0, 0, 0, 0.127);
    padding-right: 6px;  
}

.lista_container a:hover {
    color: #ff605e;
}

.lista_container ul {
    list-style: none;
    display: flex;
}

.lista_container li {
    margin-right: 5px;
}