* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    
}

.topo {
    padding: 12px;  
    display: flex;
    margin-left: 300px;
}

.topo > div {
    margin-left: 10px;
}

.topo  ul {
    list-style: none;
}


.Logo_pesquisa {
    border-top: 1px solid rgba(0, 0, 0, 0.179);
    padding: 27px;
}

