* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}




.ImagemPromocional {
    width: 950px;
    height: 60px;
    list-style: none;
    display: flex;
    background-color: #ffffff;
    padding-top: 16px;
    border-radius: 10px;
}

.imagem1 {
    height: 23px;
    width: 240px;
    margin-left: 20px;
}

.imagem2 {
    height: 23px;
    width: 330px;
    margin-left: 80px;
}

.imagem3 {
    height: 23px;
    width: 155px;
    margin-left: 70px;
}

.ImagemPromocional img {
    height: 100%;
    width: 100%;
}






.content {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.NovoUsuario {
    background-color: blue;
    height: 270px;
    margin-top: 15px;
}

.NovoUsu_ofertas {
    display: flex;
}




.BemVindo {
    margin: 20px;
    margin-left: 190px;
    margin-bottom: 50px;
    height: 40px;
}

.Su_Dels {
    margin: 10px;
    background-color: blueviolet;
}

.Su_Dels > .Super_Products {
    display: flex;
}





.produtos_destacados {
    display: flex;
    margin-left: 20px;
}