* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}




.ImagemPromocional {
    width: 950px;
    height: 60px;
    list-style: none;
    display: flex;
    background-color: #ffffff;
    padding-top: 16px;
    border-radius: 10px;
}

.imagem1 {
    height: 23px;
    width: 240px;
    margin-left: 20px;
}

.imagem2 {
    height: 23px;
    width: 330px;
    margin-left: 80px;
}

.imagem3 {
    height: 23px;
    width: 155px;
    margin-left: 70px;
}

.ImagemPromocional img {
    height: 100%;
    width: 100%;
}




.content {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}




.NovoUsuario_container {
    height: 440px;
    width: 337px;
    padding: 20px;
    margin-top: 15px;
    background-image:url("https://ae01.alicdn.com/kf/Hd9eb0ac076014d06bebe01dbc5260628n/676x880.png_.webp") ;
    background-size: cover;
}

.NovoUso_Topo {
    margin-top: 15px;  
}

.NovoUso_Topo a {
    text-decoration: none;
    color: #ffffff; 
}

.NovoUso_Topo  p {
    margin-top: 8px;
    font-size: 12.6px;
}

.NovoUsu_ofertas {
    display: flex;
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: 30px;
    padding-bottom: 10px;
    width: 300px;
    position: relative;
}

.NovoUsu_ofertas > div {
    display: flex;
    flex-wrap: wrap;
}

.NovoUsu_ofertas button {
    height: 24px;
    width: 25px;
    position: absolute;
    border: 0;
    border-radius: 20px;
}

.button_esquerda {
    top: 140px;
    left: 2px;
}

.button_direita {
    right: 2px;
    top: 140px;
}

.NovoUsu_ofertas button > img {
    height: 60%;
    margin-top: 4px;
}






.Bv_Superd {
    margin-top: 15px;
    margin-left: 15px;
}


.Bvsuperd_container1 {
    display: flex;
    
}

.Achados_semana {
    width: 344px;
    height: 137px;
}

.Achados_link {
    height: 100%;
    width: 100%;
}

.Achados_link img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}









.BemVindo {
    margin: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    height: 40px;
    width: 150px;
}







.Super_Dels {
    
    background-color: blueviolet;
}

.Super_Dels > .Super_Products {
    display: flex;
}





.produtos_destacados {
    display: flex;
    margin-left: 20px;
}