.topo {
    display: flex;
    width: 1050px;
    padding-left: 250px;
}

.topo > div {
    margin-left: 21px;
    padding-top: 8px;
    background-color: #fafafa;
}

.topo img {
    height: 8px;
}

.topo a:hover {
    color: #ff605e;
}

.topo  ul {
    list-style: none;
}

.topo div a {
    text-decoration: none;
    color: #333;
    font-size: 12.3px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
}






.ocultar {
    display: none;     
}

.exibir {
    display: block;
}



.container {
    position: relative;
    margin-bottom: 8px;
}
.container:hover {
    border: 1px solid rgba(128, 128, 128, 0.44);
    margin-bottom: 0px;
}




.vendas_container {
    position: relative;
    width: 127px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.vendas_container:hover {
    border: 1px solid rgba(128, 128, 128, 0.44);
}

.span_venda {
    position: absolute;
    width: 100%;
    padding-left: 2px;
    height: 100%;
}

.ul_venda {
    width: 204px;
}





.ajuda_container {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-bottom: 6px;
    height: 20px;
    width: 50px;
}

.ajuda_container:hover {
    border: 1px solid rgba(128, 128, 128, 0.44);
    margin-bottom: 0px;
    height: auto;
}

.span_ajuda {
    position: absolute;
    padding-left: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.ul_ajuda {
    width: 272px;
}




.conta_container {
    position: relative;
    width: 90px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.conta_container:hover {
    border: 1px solid rgba(128, 128, 128, 0.44);
    height: auto;
}

.span_conta {
    position: absolute;
    padding-left: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.ul_conta {
    width: 200px;
}




.topo ul {
    background-color: #ffffff;
    position: absolute;
    top: 35px;
    left: -1px;
    padding-left: 3px;
    padding-bottom: 1px;
    border: 1px solid rgba(128, 128, 128, 0.44);
}

.topo li {
    text-indent: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-decoration: none;
    color: #333;
    font-size: 12.8px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
}